<footer class="footer section">
        <div class="shape shape__big"></div>
        <div class="shape shape__small"></div>

        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="footer__logo">
                    <i class="ri-steering-line"></i> Pare&Lave
                </a>
                <p class="footer__description">
                   Nós oferecemos o melhor serviço de agendamento de cuidados para automóveis. <br> Pare já e lave o seu!
                </p>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">
                    Topicos
                </h3>

                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">Inicio</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Perfil</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Loja</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Estoque</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

