<head>
    <link rel="stylesheet" href="/style/navbar.css">
</head>
<header class="navbarHome">
        <div class="menu-content">
            <a href="/" class="nav__logo">
                <img src="assets/img/pare&lave.png" alt="">
                Pare & Lave
            </a>
            <nav class="header-menu">
                <ul class="list-itens">
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="/servicos">Serviços</a></li>
                    <li><a href="/plano">Planos</a></li>
                </ul>
            </nav>
        </div>
</header>