<head>
    <link rel="stylesheet" href="/style/usuariohome.css">
</head>
<header style="font-size: 2em;" class="header" id="header">
        <nav class="nav container">
            <a href="/usuariohome" class="nav__logo">
                <img src="assets/img/pare&lave.png" alt="">
                Pare & Lave
            </a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a style="font-size: 1em;"  href="/usuariohome" class="nav__link">Início</a>
                    </li>
                    <li class="nav__item">
                        <a style="font-size: 1em;"  href="#agendar" class="nav__link">Agendar</a>
                    </li>
                    <li class="nav__item">
                        <a style="font-size: 1em;"  href="#popular" class="nav__link">Popular</a>
                    </li>
                    <li class="nav__item">
                        <a style="font-size: 1em;"  href="#buscar" class="nav__link">Buscar</a>
                    </li>
                    <li class="nav__item">
                        <a style="font-size: 1em;"  href="#agendamentos" class="nav__link">Agendamentos</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <img src="./assets/img/3bars.png" alt="">
                </div>
            </div>
        </nav>
    </header>