@import url("https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    color: white;
    font-family: 'Exo', sans-serif;
}
/* config do cabeçalho*/
.navbarHome {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22);
    font-family: 'Exo', sans-serif;
}
.logo {
    font-size: 2.3rem;
    cursor: pointer;
}
.menu-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.3rem;
}

.nav__logo img {
    width: 1.25rem;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    transform: 2ms ease-in;
    position: relative;
}


.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(255, 0, 0);
    transition: all 1.0s ease; 
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
}