*{
    margin: 0;
    padding: 0;
}

.corpo-pagamento {
    font-family: "Rubik", sans-serif;
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)), url(../IMG/PAGAMENTO.jpg);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_payements {
    width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body, html {
    height: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-top: 20px;
    font-size: 15px;
}

.pagar{
    font-size: 25px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

  /* Transição de Pagg*/

  body.fade-in {
    opacity: 0;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }