<head>
    <link rel="stylesheet" href="/style/empresa_login.css">
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get("error");

        if (error) {
        alert(error);
        }
  </script>
</head>
<body class="corpo-login-empresa">
<main id="container">
        <form action="/loginsuccessempr" method="post" id="login_form">
            <!-- FORM HEADER -->
            <div id="form_header">
                <h1>Login</h1>
            </div>
            
            <!-- INPUTS -->
            <div id="inputs">
                <!-- NAME -->
                <div class="input-box">
                    <label for="name">
                        Nome da Emprea
                        <div class="input-field">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" id="name" name="name">
                        </div>
                    </label>
                </div>
                
                <!-- EMAIL -->
                <div class="input-box">
                    <label for="email">
                        E-mail
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" id="email" name="email">
                        </div>
                    </label>
                </div>
                
                <!-- PASSWORD -->
                <div class="input-box">
                    <label for="password">
                        Senha
                        <div class="input-field">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" id="password" name="password">
                        </div>
                    </label>
                    
                    <!-- FORGOT PASSWORD -->
                    <div id="forgot_password">
                        <a href="/cadastroEmpresa">Cadastre-se</a>
                    </div>
                </div>
            </div>

            <!-- LOGIN BUTTON -->
            <button type="submit" id="login_button">
                Login
            </button>
        </form>
    </main>
</body>