 <head>
    <link rel="stylesheet" href="/style/detalhesLavaJato.css">
</head>
<main class="main">
        <!--==================== FEATURED ====================-->
        <section class="featured section" id="featured">
            <h2 class="section__title">
                Estoque do(a) "Nome da empresa"
            </h2>

            <div class="featured__container container">
                <div class="featured__content grid">
                    <article class="featured__card mix tesla">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Nome do Produto:</h1>

                        <h3 class="featured__subtitle">Quantidade:</h3>

                        <img src="/IMG/featured1.png" alt="" class="featured__img">

                        <br>
                        <a href="#" class="button">Editar</a>
                    </article>

                    <article class="featured__card mix tesla">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Nome do Produto:</h1>

                        <h3 class="featured__subtitle">Quantidade:</h3>

                        <img src="/IMG/featured2.png" alt="" class="featured__img">

                        <br>
                        <a href="#" class="button">Editar</a>
                    </article>

                    <article class="featured__card mix audi">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Nome do Produto:</h1>

                        <h3 class="featured__subtitle">Quantidade:</h3>

                        <img src="/IMG/featured3.png" alt="" class="featured__img">

                        <br>
                        <a href="#" class="button">Editar</a>
                    </article>

                    <article class="featured__card mix Pedido xx">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Nome do Produto:</h1>

                        <h3 class="featured__subtitle">Quantidade:</h3>

                        <img src="/IMG/featured4.png" alt="" class="featured__img">

                        <br>
                        <a href="#" class="button">Editar</a>
                    </article>

                    <article class="featured__card mix Pedido xx">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Nome do Produto:</h1>

                        <h3 class="featured__subtitle">Quantidade:</h3>

                        <img src="/IMG/featured5.png" alt="" class="featured__img">

                        <br>
                        <a href="#" class="button">Editar</a>
                    </article>

                    <article class="featured__card mix tesla">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Nome do Produto:</h1>

                        <h3 class="featured__subtitle">Quantidade:</h3>

                        <img src="/IMG/featured1.png" alt="" class="featured__img">

                        <br>
                        <a href="#" class="button">Editar</a>
                    </article>

                    <article class="featured__card mix tesla">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Nome do Produto:</h1>

                        <h3 class="featured__subtitle">Quantidade:</h3>

                        <img src="/IMG/featured2.png" alt="" class="featured__img">

                        <br>
                        <a href="#" class="button">Editar</a>
                    </article>

                    <article class="featured__card mix audi">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Nome do Produto:</h1>

                        <h3 class="featured__subtitle">Quantidade:</h3>

                        <img src="/IMG/featured3.png" alt="" class="featured__img">

                        <br>
                        <a href="#" class="button">Editar</a>
                    </article>

                    <article class="featured__card mix Pedido xx">
                        <div class="shape shape__smaller"></div>

                        <h1 class="featured__title">Nome do Produto:</h1>

                        <h3 class="featured__subtitle">Quantidade:</h3>

                        <img src="/IMG/featured4.png" alt="" class="featured__img">

                        <br>
                        <a href="#" class="button">Editar</a>
                    </article>
                </div>
            </div>
        </section>
    </main>

    