<head>
    <link rel="stylesheet" href="/style/home.css">
</head>
<body class="corpo-home">
<main>
    <div class="main-content">
        <h1 class="primary-text">Lave, Brilhe, Repita!!</h1>
        <h2 class="second-text">A excelência em gerenciamento de lava-jato ao seu alcance.</h2>
        <div class="botoes">
            <form action="/loginUserhome" method="post">
                <button class="Usuario" type="submit">Usuario</button>
            </form>
            <form action="/loginEmpr" method="post">
                <button class="Empresa" type="submit">Empresa</button>
            </form>
        </div>
    </div>
</main>
</body>