<!DOCTYPE html>
<html lang="Pt-Br">
<head>
    <link rel="stylesheet" href="/style/usuariohome.css">
    <title>Pare & Lave</title>
</head>
<body class="usuarioHome">

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section  class="home section"  id="home">
            <div  class="shape shape__big" ></div>
            <div  class="shape shape__small"></div>

            <div  class="home__container container grid">
                <div  class="home__banner">
                    <h1 class="home__titulo">
                        Bem vindo ao Pare & Lave
                    </h1>

                    <h2 class="home__subtitulo">
                        Seu carro no talento!
                    </h2>


                </div>

                <img src="/IMG/featured2.png" alt="" class="home__img">


            </div>
        </section>

        <!--==================== AGENDAR ====================-->
        <section class="agendar section" id="agendar">
            <div class="agendar__container container">
                <div class="agendar__group">
                    <img src="/IMG/porsche-normal.jpg" alt="" class="agendar">
                </div>

                <div class="agendar__data">
                    <h2 class="agendar__titulo">
                        Lavagem Completa <br> Para um Carro Completo
                    </h2>

                    <p class="agendar__descricao">
                        Nosso site te deixa por dentro dos melhores lava jatos da região, ofertando os melhores serviços de limpeza de alta qualidade para carros e outros veículos.
                        Agende sua lavagem para garantir que seu veículo saia
                        dos nossos lava jatos com uma aparência nova.
                    </p>

                    <br>
                    <br>

                    <a href="#buscar" class="button">Agende Aqui</a>
                </div>
            </div>
        </section>

        <!--==================== POPULAR ====================-->
        <section class="popular section" id="popular"> 
            <h2 class="section__titulo">
                Top Lava-Jatos da semana
            </h2>

            <div class="popular__container container">
                <div class="cards">
                    <article class="popular__card">
                        <div class="shape shape__smaller"></div>

                        <h1 class="popular__titulo">FlipWash</h1>
                        <h3 class="popular__subtitulo">Lauro de Freitas</h3>

                        <img src="/IMG/FlipWash.png" alt="" class="popular__img">

                        <div class="popular__data">
                            <ul class="avaliacao">
                                <li class="icone-estrela" data-avaliacao="1"></li>
                                <li class="icone-estrela" data-avaliacao="2"></li>
                                <li class="icone-estrela" data-avaliacao="3"></li>
                                <li class="icone-estrela" data-avaliacao="4"></li>
                                <li class="icone-estrela" data-avaliacao="5"></li>
                            </ul>
                        </div>

                        <h3 class="popular__distancia">9,9 km</h3>

                        <button class="button popular__button">
                            <img class="buscar__icon" src="/IMG/agendaricon.png" alt="">
                        </button>
                    </article>

                    <article class="popular__card">
                        <div class="shape shape__smaller"></div>

                        <h1 class="popular__titulo">Na Garage Detail</h1>
                        <h3 class="popular__subtitulo">Salvador</h3>

                        <img src="/IMG/garage.png" alt="" class="popular__img">

                        <div class="popular__data">
                            <ul class="avaliacao">
                                <li class="icone-estrela" data-avaliacao="1"></li>
                                <li class="icone-estrela" data-avaliacao="2"></li>
                                <li class="icone-estrela" data-avaliacao="3"></li>
                                <li class="icone-estrela" data-avaliacao="4"></li>
                                <li class="icone-estrela" data-avaliacao="5"></li>
                            </ul>
                        </div>

                        <h3 class="popular__distancia">2,6 km</h3>

                        <button class="button popular__button">
                            <img class="buscar__icon" src="/IMG/agendaricon.png" alt="">
                        </button>
                    </article>

                    <article class="popular__card">
                        <div class="shape shape__smaller"></div>

                        <h1 class="popular__titulo">Villas LavaCar</h1>
                        <h3 class="popular__subtitulo">Lauro de Freitas</h3>

                        <img src="/IMG/villasLavaCar.png" alt="" class="popular__img">

                        <div class="popular__data">
                            <ul class="avaliacao">
                                <li class="icone-estrela" data-avaliacao="1"></li>
                                <li class="icone-estrela" data-avaliacao="2"></li>
                                <li class="icone-estrela" data-avaliacao="3"></li>
                                <li class="icone-estrela" data-avaliacao="4"></li>
                                <li class="icone-estrela" data-avaliacao="5"></li>
                            </ul>
                        </div>

                        <h3 class="popular__distancia">11,0 km</h3>

                        <button class="button popular__button">
                            <img class="buscar__icon" src="/IMG/agendaricon.png" alt="">
                        </button>
                    </article>
                </div>

            </div>
        </section>
    </main>
</body>

</html>
