<head>
    <link rel="stylesheet" href="style/plano.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
</head>
<body class="fade-in corpo-plano"> 
  <article class="container-pricing">
    <!-- Titulo -->
    <h1>Plano</h1>
    <!-- Subtitulo -->
    <p id="subTitle">Seja bem vindo ao nosso portal <br>  Abaixo encontrase um plano os quais oferencem beneficios incriveis adquira já!!! </p>
  </article>

  <br>
  <br>
  <br>
  
  <!-- UL -->
  <ul class="pricing-list">
    <!-- Itens do Plano -->
    <li class="pricing item profissional">
      <a href="../CADASTRO/empresa.html"></a>
      <strong>Profissional</strong>
      <div class="pricing-prices">
        <sub>R$</sub>
        <strong>150</strong>
        <sup>/mês</sup>
      </div>

      <ul class="pricing-list-features">
        <li class="pricing-list-features-item"><i class="fas fa-check"></i><span>Módulo de Agendamento</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Módulo de Atendimento via WhatsApp</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Sistema de Feedback pós lavagem</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Mural com fotos dos automóveis lavados</span></li>
        <li class="pricing-list-features-item"><i class="fas fa-check"></i> <span>Acompanhamento de status</span></li>
      </ul>
      <form action="/pagamento" method="post">
      <button type="submit" class="botao">Iniciar Meu plano</button>
      </form>
    </li>
  </ul>
<!--AJustar responsividade-->
<div style="margin: 250px 0; display: flex; align-items: center; justify-content: center; width: 100%"></div>
</body>