<link rel="stylesheet" href="/style/servicos.css">

<body class="corpo-servicos">
    <section class="services">
        <div class="sobre_titulo">
            <div class="sobre_mim">
                <h1>Serviços</h1>
            </div>
            <div aria-label="Seção apenas de ilustrações de botões">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="my_services">
    </section>
    <div class="servicos">
        <h1>Serviços Prestados</h1>
        <br>
        <p> Nosso serviço de lava-jato oferece aos clientes a conveniência de agendar horários de lavagem de seus
            veículos e efetuar pagamentos online. Com um módulo de agendamento intuitivo e integração com pagamentos
            online, proporcionamos flexibilidade e praticidade aos nossos clientes, economizando tempo e esforço.</p>
        <br>
        <p> Valorizamos a satisfação do cliente e, para isso, oferecemos um sistema de recomendação baseado no histórico
            de lavagens, um programa de fidelidade que recompensa a lealdade e um canal de atendimento via WhatsApp para
            dúvidas instantâneas. Além disso, nossa transparência é reforçada com o acompanhamento em tempo real do
            progresso da lavagem e uma seção de fotos dos veículos recém-lavados.</p>
        <br>
        <p> Nossa abordagem não se limita apenas a melhorar a experiência do cliente. Utilizamos um módulo de análise de
            dados para aprimorar nossa operação, reduzir o desperdício de recursos e ser ambientalmente conscientes.
            Além disso, oferecemos lavagens por assinatura para conveniência regular e informações sobre as condições
            climáticas para ajudar nossos clientes a planejar suas lavagens de forma inteligente. Nosso objetivo é
            tornar a lavagem de carros mais acessível, eficiente e ecológica para todos os nossos clientes.</p>
        <br>
        <br>
    </div>
</body>

</html>

<body>