<link rel="stylesheet" href="/style/sobre.css">

<body class="corpo-sobre">
    <section>
        <div class="sobre_titulo">
            <div class="sobre_mim">
                <h1>Sobre Nós</h1>
            </div>
            <div aria-label="Seção apenas de ilustrações de botões">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div>
    </section>
    <div class="quemsomos">
        <h1>Quem Somos</h1>
        <br>
        <p>Com uma paixão ardente por inovação e tecnologia, o grupo começou a trabalhar em seu projeto de lava-jato
            inteligente enquanto ainda estava na universidade. Usando seus conhecimentos em Ciência de Dados, eles
            desenvolveram um sistema que combinava sensores, câmeras e algoritmos avançados para lavar carros de forma
            rápida, eficiente e ecológica.</p>
        <br>
        <p>A missão do grupo do Pare & Lave era simples, mas poderosa: "Tornar a lavagem de carros mais conveniente,
            sustentável e acessível para todos os nossos clientes". Eles acreditavam que a tecnologia poderia
            revolucionar a maneira como as pessoas cuidam de seus veículos e, ao mesmo tempo, reduzir o impacto
            ambiental.</p>
        <br>
        <br>
        <h1>Valores e Princípios</h1>
        <br>
        <p>O grupo estabeleceu os seguintes valores e princípios para o Pare & Lave:</p>
        <br>
        <p>- Inovação: Buscar constantemente maneiras de melhorar e inovar, incorporando as mais recentes tecnologias.
        </p>
        <p>- Sustentabilidade: Compromisso em reduzir o desperdício de água e produtos químicos, tornando a lavagem de
            carros mais amigável ao meio ambiente.</p>
        <p>- Qualidade: Oferecer serviços de alta qualidade e satisfação do cliente.</p>
        <p>- Acessibilidade: Tornar os serviços de lavagem de carros automatizada acessíveis a todas as pessoas na
            comunidade.</p>
        <br>
    </div>
</body>