<!DOCTYPE html>
<html lang="Pt-Br">

<head>
    <link rel="stylesheet" href="/style/usuariohome.css">
    <title>Pare & Lave</title>
</head>

<body class="usuarioHome">

    <!--==================== MAIN ====================-->
    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home section" id="home">
            <div class="shape shape__big"></div>
            <div class="shape shape__small"></div>

            <div class="home__container container grid">
                <div class="home__banner">
                    <h1 class="home__titulo">
                        Bem vindo ao Pare & Lave
                    </h1>

                    <h2 class="home__subtitulo">
                        Seu carro no talento!
                    </h2>


                </div>

                <img src="/IMG/featured2.png" alt="" class="home__img">


            </div>
        </section>

        <!--==================== AGENDAR ====================-->
        <section class="agendar section" id="agendar">
            <div class="agendar__container container">
                <div class="agendar__group">
                    <img src="/IMG/porsche-normal.jpg" alt="" class="agendar">
                </div>

                <div class="agendar__data">
                    <h2 class="agendar__titulo">
                        Lavagem Completa <br> Para um Carro Completo
                    </h2>

                    <p class="agendar__descricao">
                        Nosso site te deixa por dentro dos melhores lava jatos da região, ofertando os melhores serviços
                        de limpeza de alta qualidade para carros e outros veículos.
                        Agende sua lavagem para garantir que seu veículo saia
                        dos nossos lava jatos com uma aparência nova.
                    </p>

                    <br>
                    <br>

                    <a href="#buscar" class="agendar__button">Agende Aqui</a>
                </div>
            </div>
        </section>

        <!--==================== POPULAR ====================-->
        <section class="popular section" id="popular">
            <h2 class="section__titulo">
                Top Lava-Jatos da Semana
            </h2>

            <div class="popular__container container">
                <div class="cards">
                    <article class="popular__card">
                        <div class="shape shape__smaller"></div>

                        <h1 class="popular__titulo">FlipWash</h1>
                        <h3 class="popular__subtitulo">Lauro de Freitas</h3>

                        <img src="/IMG/FlipWash.png" alt="" class="popular__img">

                        <div class="popular__data">
                            <ul class="avaliacao">
                                <li class="icone-estrela" data-avaliacao="1"></li>
                                <li class="icone-estrela" data-avaliacao="2"></li>
                                <li class="icone-estrela" data-avaliacao="3"></li>
                                <li class="icone-estrela" data-avaliacao="4"></li>
                                <li class="icone-estrela" data-avaliacao="5"></li>
                            </ul>
                        </div>

                        <h3 class="popular__distancia">9,9 km</h3>

                        <button class="button popular__button">
                            <img class="buscar__icon" src="/IMG/agendaricon.png" alt="">
                        </button>
                    </article>

                    <article class="popular__card">
                        <div class="shape shape__smaller"></div>

                        <h1 class="popular__titulo">Na Garage Detail</h1>
                        <h3 class="popular__subtitulo">Salvador</h3>

                        <img src="/IMG/garage.png" alt="" class="popular__img">

                        <div class="popular__data">
                            <ul class="avaliacao">
                                <li class="icone-estrela" data-avaliacao="1"></li>
                                <li class="icone-estrela" data-avaliacao="2"></li>
                                <li class="icone-estrela" data-avaliacao="3"></li>
                                <li class="icone-estrela" data-avaliacao="4"></li>
                                <li class="icone-estrela" data-avaliacao="5"></li>
                            </ul>
                        </div>

                        <h3 class="popular__distancia">2,6 km</h3>

                        <button class="button popular__button">
                            <img class="buscar__icon" src="/IMG/agendaricon.png" alt="">
                        </button>
                    </article>

                    <article class="popular__card">
                        <div class="shape shape__smaller"></div>

                        <h1 class="popular__titulo">Villas LavaCar</h1>
                        <h3 class="popular__subtitulo">Lauro de Freitas</h3>

                        <img src="/IMG/villasLavaCar.png" alt="" class="popular__img">

                        <div class="popular__data">
                            <ul class="avaliacao">
                                <li class="icone-estrela" data-avaliacao="1"></li>
                                <li class="icone-estrela" data-avaliacao="2"></li>
                                <li class="icone-estrela" data-avaliacao="3"></li>
                                <li class="icone-estrela" data-avaliacao="4"></li>
                                <li class="icone-estrela" data-avaliacao="5"></li>
                            </ul>
                        </div>

                        <h3 class="popular__distancia">11,0 km</h3>

                        <button class="button popular__button">
                            <img class="buscar__icon" src="/IMG/agendaricon.png" alt="">
                        </button>
                    </article>
                </div>

            </div>
        </section>

        <!--==================== BUSCAR ====================-->
        <section class="buscar section" id="buscar">
            <h2 class="section__titulo">
                Busca de Lava-Jatos
            </h2>

            <div class="buscar__container container">
                <ul class="buscar__filters">
                    <li>
                        <button class="buscar__item buscar-ativo" data-filter="all">
                            <img src="/IMG/carIcon.png" alt="">
                        </button>
                    </li>
                    <li>
                        <button class="buscar__item" data-filter=".tesla">
                            <img src="/IMG/ratingIcon.png" alt="">
                        </button>
                    </li>
                    <li>
                        <button class="buscar__item" data-filter=".audi">
                            <img src="/IMG/distanceIcon.png" alt="">
                        </button>
                    </li>
                    <li>
                        <button class="buscar__item" data-filter=".porsche">
                            <img src="/IMG/priceIcon.png" alt="">
                        </button>
                    </li>
                </ul>

                <div class="cards">
                    {{#each empresas}}
                    <div class="popular__card">
                        <div class="shape shape__smaller"></div>
                        <h1 class="featured__title">{{nome_empr}}</h3>

                            <img src="/IMG/FlipWash.png" alt="" style="width: 60%; align-items: center;"
                                class="popular__img">
                            <h3 class="featured__price">{{bairro}}</h3>
                            <ul class="avaliacao">
                                <li class="icone-estrela" data-avaliacao="1"></li>
                                <li class="icone-estrela" data-avaliacao="2"></li>
                                <li class="icone-estrela" data-avaliacao="3"></li>
                                <li class="icone-estrela" data-avaliacao="4"></li>
                                <li class="icone-estrela" data-avaliacao="5"></li>
                            </ul>
                            <form action="/agendamento" method="post">
                                <input type="hidden" name="cnpj" value="{{CNPJ}}">
                                <button type="submit" class="button buscar__button">
                                    <img class="buscar__icon" src="/IMG/agendaricon.png" alt="">
                                </button>
                            </form>
                    </div>
                    {{/each}}
                </div>
            </div>
        </section>

        <section class="pedidos section" id="agendamentos">
            <h2 class="section__titulo">
                Seus Agendamentos
            </h2>

            <div class="pedidos__container container">
                <div class="cards-pedidos">
                    <div class="pedidos__card">
                        <h1 class="servico__subtitulo">Data: 01/12/2023</h1>
                        <h1 class="servico__subtitulo">Carro: Sedã</h1>
                        <h1 class="servico__subtitulo">Placa: QNZ9E60</h1>
                        <h1 class="servico__subtitulo">Serviços: Lavagem de Exterior e Interior</h1>
                        <h1 class="servico__subtitulo">Subtotal: R$ 100,00</h1>
                    </div>
                    <div class="qrcode__div" id="qrcode"></div>
                </div>
            </div>
        </section>

        <script src="/js/qrcode.min.js"></script>
        <script>
            new QRCode(document.getElementById('qrcode'),  'https://www.instagram.com/djwestn/')
        </script>

        <!--==================== OFERTAS ====================-->
        {{!-- <section class="ofertas section">
            <div class="ofertas__container container grid">
                <img src="/IMG/offer-bg.png" alt="" class="ofertas__bg">

                <div class="ofertas__data">
                    <h2 class="section__titulo ofertas__titulo">
                        Você deseja receber ofertas <br> especiais?
                    </h2>

                    <p class="ofertas__descricao">
                        Seja o primeiro a receber todas as informações sobre nossos serviços e lava-jatos se inscrevendo
                        por e-mail na nossa lista postal.
                    </p>

                    <a href="#" class="button">
                        Inscrever-se
                    </a>
                </div>

                <img src="/IMG/ofertas.png" alt="" class="ofertas__img">
            </div>
        </section> --}}


    </main>
</body>

</html>